/* declarando fontes custom */
@font-face {
    font-family: 'BlackFlag';
    src: url('/public/fonts/blackflag/BlackFlag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nitemare';
    src: url('/public/fonts/NITEMARE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FairyDust';
    src: url('/public/fonts/FairyDustB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'handwriting_black_draft';
    src: url('/public/fonts/handwriting-black-draft_DEMO.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}


.main-header {
    background: rgb(64, 23, 30);
    background: -moz-linear-gradient(90deg, rgba(64, 23, 30, 1) 0%, #910000 49%, rgba(64, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(64, 23, 30, 1) 0%, rgba(145, 0, 0, 1) 49%, rgba(64, 0, 0, 1) 100%);
    background: linear-gradient(90deg, rgba(64, 23, 30, 1) 0%, rgba(145, 0, 0, 1) 49%, rgba(64, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40171e", endColorstr="#400000", GradientType=1);
    color: #fff;
    padding: 15px;
    text-align: center;
}

.main-header h1 {
    font-family: FairyDust;
    margin: 0;
}

.main-header p {
    font-family: handwriting_black_draft;
    margin: 5px 0;
}

.main-nav {
    background: #cc0000c6;

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.main-nav a:hover {
    color: #00bcd4;
}

body {
    background-color: #333;
}

main {
    padding: 10px;
}

.title {
    padding-left: 350px;
    margin-top: 20px;
    margin-left: 350px;
    font-family: Nitemare;
    color: #fff;
}

.title-principal .title {
    padding-left: 0px;
    margin-left: 25%;
    margin-right: 150px;
    text-align: left;
    font-size: 5em;
}

.title-principal {
    margin: 0 !important;
    padding: 3px;
    background-color: #8B0000;
    width: 100%;
    display: flex;
    align-items: center;
}

/* .title-principal .separador {
    margin-left: 10px;
    border: 7px solid rgb(71, 45, 24);
    flex-grow: 1;
} */

.title {
    margin: 0;
}

.about-us {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: justify;
    flex-wrap: wrap;
    color: #fff;
    /* Cor do texto na seção "About Us" */
}

.about-us .information {
    width: 40%;
    min-width: 400px;
}

.about-us img {
    border-radius: 6px;
    width: 40%;
    max-width: 600px;
    min-width: 550px;
}



#aedrim {
    padding-top: 20px;
    height: 100vh;
    position: relative;
}

#aedrim .slick-carousel {
    margin: 20px;
    /* Adicione margem ao redor do carrossel */
}

#aedrim .slick-carousel .item-carousel {
    margin: 0 auto;
    width: 90vw;
    height: 80vh;
}


#aedrim .slick-prev,
#aedrim .slick-next {
    font-size: 32px;
    /* Ajuste o tamanho da fonte conforme necessário */
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    /* Ajuste o preenchimento conforme necessário */
    cursor: pointer;
    background: none;
    /* Remova o fundo */
    border: none;
    /* Remova a borda se houver */
}

#aedrim .slick-prev {
    left: 10px;
}

#aedrim .slick-next {
    right: 10px;
}

#aedrim .slick-dots {
    bottom: 10px;
    /* Ajuste a posição dos pontos indicadores */
}

#aedrim .slick-dots li button {
    font-size: 12px;
    /* Ajuste o tamanho dos pontos indicadores */
    color: #fff;
    /* Cor dos pontos indicadores inativos */
}

#aedrim .slick-dots li.slick-active button {
    color: #00bcd4;
    /* Cor do ponto indicador ativo */
}

.carousel-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000072;
    position: relative;
    color: #fff;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.carousel-overlay h3 {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.carousel-overlay p {
    width: 100%;
    text-align: justify;
    margin: 10px 0;
    margin-top: 20px;
}

.btn-carousel {
    width: 50%;
    display: flex;
    justify-content: center;
}

.btn-carousel .btn-leia-mais {
    text-align: center;
    width: 80%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #431847;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.conteudo-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-carousel .btn-leia-mais {
    text-align: center;
    width: 80%;
    display: inline-block;
    margin: 30px 80;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #431847;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* entre em contato */
#contact {
    background-color: #2A2C47;
    color: #fff;
    padding: 50px 0;
    width: 100vw;
}

#contact .title{
    text-align: center;
    width: 100%;
    padding: 0;
    padding-bottom: 8px;
    margin-bottom: 50px;
    border-bottom: 1px solid #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.contact-info {
    justify-content: space-around;
    display: flex;
    margin-top: 30px;
}

.contact-emails {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    flex-direction: row;
}

.email-box {
    width: fit-content;
    padding: 10px;
    min-width: 240px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-bottom: 20px;
}

.email-box h3 {
    font-size: 24px;
}

.discord {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens no topo */
}

.center-line {
    margin: 20px 20px;
    text-align: center;
}

.center-line img {
    width: 400px;
    max-width: 80vw;
    max-height: 600px;
    height: 500px;
    border-radius: 50px;
}

.texto-invite p {
    font-size: 16px;
    margin: 5px 0;
    
}

.widget-2vZvsN{
    height: 600px!important;
}

.invite {
    background-color: #232323;
    padding: 20px; /* Aumenta o padding para dar mais espaço */
    border-radius: 10px;
    width: 300px; /* Reduz o width para evitar que os elementos fiquem grudados */
    text-align: center;
    margin-bottom: 20px; /* Adiciona espaço no final do invite */
    max-height: 500px;
    overflow-y: auto;
}
@media screen and (max-width: 600px) {
    .discord {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.title-invite {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 20px;
}

.corpo-invite {
    display: flex;
    align-items: center;
    flex-direction: column; /* Ajusta a direção do layout para column */
    justify-content: space-between; /* Espaço uniforme entre os elementos internos */
    margin-top: 20px; /* Adiciona espaço no topo */
    
}


.imagem-icon {
    background-color: #000;
    border-radius: 10px;
    padding: 10px; /* Adiciona um padding para dar espaço à imagem */
    margin-bottom: 10px; /* Adiciona espaço entre a imagem e o texto */
}

.imagem-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.texto-invite {
    text-align: center; /* Centraliza o texto */
    
}



.texto-invite h2{
    margin-top: 20px;
}

.texto-invite p{
    margin-bottom: 20px;
}

.server-name {
    font-size: 18px;
    margin: 0;
}

.canal-server {
    color: #ccc;
    margin: 5px 0;
}
.desc-server{
    text-align: justify!important;
    font-size: 0.9em!important;
}

.link-invite {
    display: block;
    background-color: #42173C;
    color: #eee;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    width: fit-content;
    transition: 0.3s;
}

.link-invite:hover {
    text-decoration: none;
    color: #fff;
    background-color: #431847;
    transform: scale(1.2);
}

footer {
    background: #6f0000;
    /* Cor de fundo do rodapé */
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}